@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	width: 1170px;
}



.font-poppins {
	font-family: "Poppins", sans-serif;
}

.inter {
	font-family: "Inter", sans-serif;
}


.ant-btn-primary {
	font-family: "Poppins", sans-serif;
  background-color: #DB4444 !important;
  border-color: #DB4444 !important;
height: 56px;
opacity: 1;
gap: 10px;
border-radius: 4px;
padding-top: 16px;
padding-right: 48px;
padding-bottom: 16px;
padding-left: 48px;
}

.ant-btn-default {
	font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 16px;;
line-height: 24px;
height: 56px;
opacity: 1;
gap: 10px;
border-radius: 4px;
padding-top: 16px;
padding-right: 48px;
padding-bottom: 16px;
padding-left: 48px;
border-width: 1px;
border-color: black;

}
.ant-btn-default:hover {
color: black !important;
border-color: black !important;
background-color: rgb(237, 238, 238) !important;
}


.ant-btn-primary:hover {
  background-color: #b83232 !important; 
}



.add-to-cart-btn { 
	position: absolute;
	 width: 100%; height: 41px;
	  overflow: hidden; left: 0;
	bottom: -41px; border: none;
	outline: none;
	 background-color:#000;
	 color: #fff;
	 font-weight:500;
	 font-size: 16px;
	 line-height: 24px;
	 cursor: pointer;
	 transition: all 0.5s ease;
	border-bottom-left-radius: 4px;
	 border-bottom-right-radius: 4px; }

	.product__item:hover .add-to-cart-btn {
	 bottom: 0; cursor: pointer; }






@keyframes slideArrow {
	0%, 100% {transform: translateX(0);}
	50% {transform: translateX(5px);}
}

.animate-slide {
	animation: slideArrow 1s infinite ease-in-out;
}







